

<a href="../">Вернутся в каталог</a> <br>

Карточка товара
<h2>Наименование товара:{{ good.name }}</h2>
<img src="goods_img/small/{{ good.img }}" alt="Image">
<p>Описание:{{ good.description}} </p>
<p>Цена: {{ good.price }} </p>